{% extends 'principal.html' %}

{% load static %}

{% block titulo %}
<title>Editando Book-Me</title>
{% endblock titulo %}

{% include 'navbar.html' %}

{% block BloqueQueCambia %}
<div class="about-bg">
   <div class="container">
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="abouttitle">
               <h2>Editar perfir-usuario:</h2>
               <h2>{{ usuario }}</h2>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Login -->
<div class="Contact">
   <div class="container">
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
               <form action="{% url 'EditarUsuario' %}" method="POST">{% csrf_token %}

                  <table>
                     {{ miFormulario.as_p }}
                  </table>

                  <button type="submit" class="send-btn">Actualizar</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end Login -->
{% endblock BloqueQueCambia %}