{% extends 'principal.html' %}

{% load static %}

{% block titulo %}
<title>Ingresando Book-Me</title>
{% endblock titulo %}

{% include 'navbar.html' %}

{% block BloqueQueCambia %}
<div class="about-bg">
   <div class="container">
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="abouttitle">
               <h2>Ingresando a cuenta usuario</h2>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Login -->
<div class="Contact">
   <div class="container">
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
               <form action="{% url 'Login' %}" method="POST">{% csrf_token %}
                  {{ miFirmulario.as_p }}
                  <button type="submit" class="send-btn">Inciar sesion</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end Login -->
{% endblock BloqueQueCambia %}