{% extends 'principal.html' %}

{% load static %}

{% block titulo %}
<title>Ingresando Book-Me</title>
{% endblock titulo %}

{% include 'navbar.html' %}

{% block BloqueQueCambia %}
<div class="about-bg">
   <div class="container">
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="abouttitle">
               <h2>Usuario</h2>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="about">
   <div class="container">
      <div class="row">
         <div class="col-md-10 offset-md-1">
            <div class="aboutheading">
               <span><h2>Bienvenido!!!</h2></span>
               <span><h2 style="font-size: 35px; color: crimson;">{{ username }}</h2></span>
               <span>{{ mensaje }}</span>
               <span style="font-size: 35px; color: crimson;">{{ mensaje2 }}</span>
            </div>
         </div>
      </div>
      <div class="row border">
         <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
            <div class="about-box">
               <h2>Usuario:   <strong style="color: purple;">{{ username }}</strong></h2>
               <h2>Nombre:   <strong style="color: purple;">{{ nombre }}</strong></h2>
               <h2>Apellido:  <strong style="color: purple;">{{ apellido }}</strong></h2>
               <h2>Email:   <strong style="color: purple;">{{ email }}</strong></h2>
            </div>
         </div>
         <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
            <div class="about-box">
               {% if request.user.avatar %}
                  <li><img src="{{request.user.avatar.imagen.url}}" alt="" height="40px"></li>    
               {% endif %}
               <button class="read-more"><a href="{% url 'EditarUsuario' %}">Editar Usuario</a></button>
               <button class="read-more"><a href="{% url 'CambiarAvatar' %}">Cambiar Imagen de Perfil</a></button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock BloqueQueCambia %}