{% extends 'principal.html' %}

{% load static %}

{% block titulo %}
<title>Acerca de Mi</title>
{% endblock titulo %}

{% include 'navbar.html' %}

{% block BloqueQueCambia %}
<style>
   .sombras {
       text-shadow: 2px 2px 4px rgba(0,0,0,0.5),
                    -2px -2px 4px rgba(182, 2, 128, 0.5);
   }
</style>
<div class="about-bg">
   <div class="container">
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="abouttitle">
               <h2>Acerca de Mi</h2>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="about">
   <div class="container">
      <div class="row">
         <div class="col-md-10 offset-md-1">
            <div class="aboutheading">
               <span>Hola!!! yo soy...</span>
               <span><h1 class="sombras"  style="color: rgba(197, 14, 1, 0.753);">Victorino Daniel Rodriguez Rodriguez</h1></span>
            </div>
         </div>
      </div>
      <div class="row border">
         <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
            <div class="about-box">
               <p>Tengo 36 años soy de Argentina, Tengo dos hermosas hijas de 9 y 10 años 
                  que son todo, me encanta las películas, las serie, y los libros, 
                  sobre todo me encantan las buenas historias y veo, escucho y leo todo 
                  lo que contenga una buena historia. Me encanta el futbol, jugar y ver,
                   también me gusta hacer ejercicios. Me encanta salir a caminar con mis 
                   hijas, salir, caminar y charlar. Me encantan el mate, la cerveza, y 
                   el helado. Trabajo de seguridad privada hace ya 5 años, y desde noviembre 
                   del 2023  empece a hacer el cambio en mi vida para trabajar desde casa y
                    cuidar de mis hijas  comencé a estudiar en Coderhouse certificandome en 
                    “Ciberseguridad“ seguido de algunas certificaciones menores como 
                    “Password Cracking”, “Virtual Machine”, y “GNU Linux”
                     que me sirven para capacitarme como “Pentester Web”,  
                     que es la razon por la que tome el curso de “Python”
                  Por ultimo quiero agradecer a los profesores de Coderhouse que me 
                  tocaron Mauricio Cuello (Python) y Carlos Mendez (Ciberseguridad), 
                  la forma de enseñar que tienen es principalmente la razón por la que 
                  los cursos de “Ciberseguridad” y “Python” son tan amenos e interesantes,
                   Gracias, me inspiraron a mas. También agradecerles a los 
                   Tutores que tuve Saúl Belbey (Python) y Daiana Perri (Ciberseguridad),
                    sin su ayuda, apoyo y guiá hubiera sido mas que difícil, Gracias</p>
            </div>
         </div>
         <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
            <div class="about-box">
               <figure><img src="{% static 'images/yo.jpg' %}" alt="img" /></figure>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock BloqueQueCambia %}