{% extends 'principal.html' %}

{% load static %}

{% block titulo %}
<title>Editoriales Book-Me</title>
{% endblock titulo %}

{% include 'navbar.html' %}

{% block BloqueQueCambia %}
<div class="about-bg">
   <div class="container">
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="abouttitle">
               <h2>Informacion Editorial:</h2>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="Books">
   <div class="container">
      <div class="row">
         <div class="col-md-10 offset-md-1">
            <div class="titlepage">
            </div>
         </div>
      </div>
      <div class="row box">
         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <div class="book-box">
               <figure><img src="{% static 'images/book-1.jpg' %}" alt="img"/></figure>
            </div>
         </div>
         <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="book-box">
               <figure>
                  <ul>
                     <li>
                        <p style="font-size: 25px; color: purple;">{{ editorial.nombre }}</p>
                        <p style="font-size: 25px; color: purple;">{{ editorial.pais }}</p>
                        <p style="font-size: 25px; color: purple;">{{ editorial.direccion }}</p>
                        <p style="font-size: 25px; color: purple;">{{ editorial.contacto }}</p>
                     </li>
                  </ul>
                  <h3>Libros</h3>
                  <ul>
                     {% for libro in editoriales.libros.all %}
                     <li>
                        <p style="font-size: 25px; color: purple; font-style: italic">{{ libro.titulo }}</p>
                     </li>
                     {% endfor %}
                  </ul>
               </figure>
            </div>
         </div>
         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <div class="book-box">
               <figure><img src="{% static 'images/book-1.jpg' %}" alt="img"/></figure>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end Books -->
{% endblock BloqueQueCambia %}