{% extends 'principal.html' %}

{% load static %}

{% block titulo %}
<title>Generos Book-Me</title>
{% endblock titulo %}

{% include 'navbar.html' %}

{% block BloqueQueCambia %}
<div class="about-bg">
   <div class="container">
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="abouttitle">
               <h2>Genero:</h2>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="Books">
   <div class="container">
      <div class="row">
         <div class="col-md-10 offset-md-1">
            <div class="titlepage">
            </div>
         </div>
      </div>
      <div class="row box">
         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <div class="book-box">
               <figure><img src="{% static 'images/book-1.jpg' %}" alt="img"/></figure>
            </div>
         </div>
         <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="book-box">
               <figure>
                  <ul>
                     <li>
                        <img style="height: 50px; right: 50px;" src="{% static '/images/cat1.png' %}" alt="...">
                        <p style="font-size: 35px; color: purple;"><strong>{{ genero.nombre }}</strong></p>
                        <p style="font-size: 25px; color: purple;">{{ genero.descripcion }}</p>
                     </li>
                  </ul>
                  <h2><strong>Libros del genero en la plataforma</strong></h2>
                  <ul>
                     
                     {% for libro in libros %}
                     <li>
                        <p style="font-size: 25px; color: purple;"><a href="{% url 'DetalleLibro' libro.pk %}">{{ libro.titulo }} - {{ libro.autor }}</a></p>
                     </li>
                        
                     {% endfor %}
                        
                  </ul>
            </div>
         </div>
         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <div class="book-box">
               <figure><img src="{% static 'images/book-1.jpg' %}" alt="img"/></figure>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end Books -->
{% endblock BloqueQueCambia %}