{% extends 'principal.html' %}

{% load static %}

{% block titulo %}
<title>Libros Book-Me</title>
{% endblock titulo %}

{% include 'navbar.html' %}

{% block BloqueQueCambia %}
<div class="about-bg">
   <div class="container">
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="abouttitle">
               <h2>Libros</h2>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="about">
   <div class="container">
      <div class="row">
         <div class="col-md-10 offset-md-1">
            <div class="aboutheading">
               <h2>Lista de libros</h2>
               <h3 style="color: green;">{{ mensaje }}</h3>
               <h3 style="color: red;">{{ mensaje2 }}</h3>
            </div>
         </div>
      </div>
         <button class="read-more">
            <a href="{% url 'BusquedaLibro' %}">Buscar Libro</a>
         </button>
      <div class="row border">
         <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
               <ul> 
                  {% for libro in libros %}
                     <li>
                        <a href="{% url 'DetalleLibro' libro.pk %}" style="font-size: 20px; color: purple; display: inline-block;">
                        {{ libro.titulo }} - {{ libro.autor }}
                        </a>
                        
                        {% if user.is_authenticated %}    
                        <form action="{% url 'EliminarLibro' libro.id %}" method="post">{% csrf_token %}
                           <button type="submit"> Eliminar </button>
                         </form>
                         <button>
                           <a href="{% url 'EditarLibro' libro.pk %}"> Editar </a>
                         </button>
                        {% endif %}
                           
                     </li>
                  {%endfor%}
                  </ul>
               </div>
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
               <div class="about-box">
                  <figure style="text-align: end;">
                     <img src="{% static 'images/about.png' %}" alt="img" />
                  </figure>
                  
                  {% if user.is_authenticated %}
                  <button class="read-more"><a href="{% url 'FormularioLibro' %}">Agregar nuevo Libro</a></button>
                  {% endif %}
                     
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock BloqueQueCambia %}