<header>
{% load static %}
<!-- header inner -->
<div class="header">
    <div class="container">
            <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                <div class="full">
                        <div class="center-desk">
                        <div class="logo"> <a href="{% url 'Inicio' %}"><img src="{% static 'images/logo.png' %}" alt="#"></a> </div>
                        </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                <div class="menu-area">
                        <div class="limit-box">
                        <nav class="main-menu">
                            <ul class="menu-area-main">
                            <li style="margin-left: 20px; margin-right: 40px;"><date>2022-10-31</date> </li>
                            <li> <a href="{% url 'Inicio' %}">Inicio</a> </li>
                            <li> <a href="{% url 'AcercaDeMi' %}">Acerca de Mi</a> </li>
                            <li><a href="{% url 'ListaLibros' %}">Libros</a></li>
                            <li><a href="{% url 'ListaAutores' %}">Autores</a></li>
                            <li><a href="{% url 'ListaGeneros' %}">Generos</a></li>
                            <li class="mean-last"> <a href="#"><img src="{% static 'images/top-icon.png' %}" alt="#" />  Login</a> </li>
                            </ul>
                        </nav>
                        </div>
                </div>
            </div>
            </div>
    </div>
</div>
<!-- end header inner -->
</header>
<!-- end header -->
