{% extends 'principal.html' %}
{% load static %}

{% block titulo %}
   <title>Busqueda</title>
{% endblock titulo %}
{% include 'navbar.html' %}

{% block BloqueQueCambia %}
<!-- Titulo -->
<div class="about-bg">
   <div class="container">
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="abouttitle">
               <h2>Buscar Libro</h2>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Formulario -->
<div class="Library">
   <div class="titlepage">
      <form action="{% url 'BuscaLibros' %}" method="get">
         <p style="font-size: 20px;">Libro: <input type="text" name="libro"></p>
         <input type="submit" value="Buscar">
      </form>
      <!-- Fin Formulario -->
      <!-- Resultado -->
      <div class="book-box">
         {% if libros %}
         <h4>Resultados de la búsqueda:</h4>
         {% for libro in libros %}
         <ul>
            <a href="{% url 'DetalleLibro' libro.pk %}">
               <li style="font-size: 20px; color: purple;"><strong>{{ libro.titulo }}</strong></li>
            </a>
         {% endfor %}
         {% else %}
            <p style="font-size: 20px; color: red;">{{ mensaje }}</p>
         </ul>
         {% endif %}
      </div>
         <!-- Fin Resultado -->
   </div>
</div>
<div class="bg">
   <div class="container">
      <div class="row">
         <div class="col-md-10 offset-md-1">
            <div class="Library-box">
               <figure>
                  <img src="{% static 'images/slider-img.png' %}" alt="#"/>
               </figure>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock BloqueQueCambia %}