{% extends 'principal.html' %}
{% load static %}

{% block titulo %}
   <title>Busqueda</title>
{% endblock titulo %}
{% include 'navbar.html' %}

{% block BloqueQueCambia %}
<!-- Titulo -->
<div class="about-bg">
   <div class="container">
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="abouttitle">
               <h2>Buscar Autor</h2>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Formulario -->
<div class="Library">
   <div class="titlepage">
      <form action="{% url 'BuscaAutores' %}" method="get">
         <p style="font-size: 20px;">Autor: <input type="text" name="autor"></p>
         <input type="submit" value="Buscar">
      </form>
      <!-- Fin Formulario -->
      <!-- Resultado -->
      <div class="book-box">
         {% if autores %}
         <h4>Resultados de la búsqueda:</h4>
         {% for autor in autores %}
         <ul>
            <a href="{% url 'DetalleAutores' autor.pk %}">
               <li>
                  <p style="font-size: 25px; color: purple;">{{ autor.nombre }} {{ autor.apellido }} </p>
                  <br><p style="font-size: 25px; color: purple;">{{ autor.nacionalidad }}</p>
               </li>
            </a>
         {% endfor %}
         {% for libro in autor.libros.all %}
         <li>
            <p style="font-size: 25px; color: purple; font-style: italic">{{ libro.titulo }}</p>
         </li>
         {% endfor %}
         {% else %}
            <p style="font-size: 20px; color: red;">{{ mensaje }}</p>
         </ul>
         {% endif %}
      </div>
   </div>
</div>
<!-- Fin Resultado -->
<div class="bg">
   <div class="container">
      <div class="row">
         <div class="col-md-10 offset-md-1">
            <div class="Library-box">
               <figure>
                  <img src="{% static 'images/slider-img.png' %}" alt="#"/>
               </figure>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock BloqueQueCambia %}